<div class="page" page>
<div class="title">
    <h1>Deployments</h1>
</div>
<div class="content">

<section id="Objective">
    <h3>Objective</h3>

    <p>Illustrate different ways of providing user experience on the mobile platform.</p>
</section>

<section id="cordova">
    <h2>Cordova (native packaging)</h2>
    <a href="http://cordova.apache.org/" target="_blank">http://cordova.apache.org</a>

    <blockquote>Apache Cordova is a platform
        for building native mobile
        applications using HTML, CSS
        and JavaScript.
    </blockquote>

    <p class="me">Cordova is a the most popular mobile app packaging solution, most mobile frameworks have integrate Cordova at some point to provide there own package routine. It's an
        Apache project it's open source and has some Adobe backing. It enables deep integration with the mobile OS for Hybrids apps.</p>

    <h3>Feature List</h3>
    <ul>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_accelerometer_accelerometer.md.html#Accelerometer">Accelerometer</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_camera_camera.md.html#Camera">Camera</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_media_capture_capture.md.html#Capture">Capture</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_compass_compass.md.html#Compass">Compass</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_connection_connection.md.html#Connection">Connection</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_contacts_contacts.md.html#Contacts">Contacts</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_device_device.md.html#Device">Device</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_events_events.md.html#Events">Events</a>
        </li>
        <li><a target="_blank" href="http://cordova.apache.org/docs/en/2.6.0/cordova_file_file.md.html#File">File</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_geolocation_geolocation.md.html#Geolocation">Geolocation</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_globalization_globalization.md.html#Globalization">Globalization</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_inappbrowser_inappbrowser.md.html#InAppBrowser">InAppBrowser</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_media_media.md.html#Media">Media</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_notification_notification.md.html#Notification">Notification</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_splashscreen_splashscreen.md.html#Splashscreen">Splashscreen</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_storage_storage.md.html#Storage">Storage</a>
        </li>
    </ul>
</section>

<section id="web">
    <h2>Mobile Web App (browser based)</h2>
    <a href="http://mobithinking.com/blog/what-is-a-web-app" target="_blank">http://mobithinking.com/blog/what-is-a-web-app</a>

    <h4>Examples of Web Apps</h4>
    <ul>
        <li><a href="https://touch.www.linkedin.com/login.html" target="_blank">touch.www.linkedin.com</a></li>
    </ul>

    <p class="me">You don't necessarily need a native install, sometime a web app will suffice. I will try to layout
        the limitations and possibilities that this method provides.</p>


    <table class="table table-bordered table-striped possi">
        <thead>
        <tr>
            <th class="text-left">Features</th>
            <th>IOS</th>
            <th>Android</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-left">Accelerometer & Gyroscope</th>
            <th><i class="icon-ok"/><a href="http://www.mobilexweb.com/blog/safari-ios-accelerometer-websockets-html5"
                                       target="_blank"> 4.2+</a></th>
            <th><i class="icon-remove"/></th>
        </tr>
        <tr>
            <th class="text-left">Camera</th>
            <th><i class="icon-ok"/><a href="http://www.apple.com/ios/whats-new/#safari" target="_blank"> 6+</a></th>
            <th><i class="icon-ok"/><a href="http://www.android.com/about/jelly-bean/" target="_blank"> 4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Capture</th>
            <th><i class="icon-ok"/><a href="http://www.apple.com/ios/whats-new/#safari" target="_blank"> 6+</a></th>
            <th><i class="icon-ok"/><a href="http://www.android.com/about/jelly-bean/" target="_blank"> 4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Compass</th>
            <th><i class="icon-ok"/><a href="http://www.mobilexweb.com/blog/ios-5-iphone-and-ipad-html5" target="_blank">6+</a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Connection</th>
            <th><i class="icon-ok"/><a href="https://developer.mozilla.org/en-US/docs/Web/API/window.navigator.onLine?redirectlocale=en-US&redirectslug=DOM%2Fwindow.navigator.onLine" target="_blank">5+</a></th>
            <th><i class="icon-ok"/><a href="https://developer.mozilla.org/en-US/docs/Web/API/window.navigator.onLine?redirectlocale=en-US&redirectslug=DOM%2Fwindow.navigator.onLine" target="_blank">2.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Contacts</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Device</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Events</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">File</th>
            <th><i class="icon-ok"/><a href="http://www.html5rocks.com/en/features/file_access" target="_blank">6+</a></th>
            <th><i class="icon-ok"/><a href="http://www.html5rocks.com/en/features/file_access" target="_blank">3+</a></th>
        </tr>
        <tr>
            <th class="text-left">Geolocation</th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=geoloc" target="_blank">3.2+</a></th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=geoloc" target="_blank">2.1+</a></th>
        </tr>
        <tr>
            <th class="text-left">Globalization</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Media</th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=media" target="_blank">6+</a></th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=media" target="_blank">4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Notification</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Storage</th>
            <th><i class="icon-ok"/><a href="" target="_blank">6+</a></th>
            <th><i class="icon-ok"/><a href="" target="_blank">4.2+</a></th>
        </tr>
        </tbody>
    </table>

    <h4>Storage</h4>
    <p class="todo">TODO</p>

    <h4>File system</h4>
    <p class="todo">TODO</p>

    <h4>Geolocation</h4>
    <p class="todo">TODO</p>

    <h4>Extra resourses</h4>
    <ul>
        <li><a href="http://slides.html5rocks.com/"
               target="_blank">Slides Html5rocks.com/</a></li>
        <li><a href="http://blogs.adobe.com/cantrell/archives/2011/11/building-an-offline-mobile-web-application.html"
       target="_blank">Building an Offline Mobile Web Application</a></li>
    </ul>



    <p>To speed up your workflow and homogenize your markup and styles you can use CSS Framework.</p>
    <ul>
        lawnchair
        persistence.js
        persistJS
        amplify.store
        localStorageDB
        https://github.com/axemclion/IndexedDB
        realStorage
        YUI3 CacheOffline
        dojox.storage
        DomSQL
        Impel
        ActiveJS ActiveRecord
        JazzRecord
        picnet.data.DataManager
        ShinyCar
        lscache
        Kizzy
        Artemia
        microcache.js
        Store.js
    </ul>
</section>
</div>
</div>