<div class="page" page>

<div class="title">
    <h1>Extras</h1>
</div>

<div class="content">

<section id="Objective">
    <h3>Objective</h3>

    <p>Listing additional information and tools for mobile developments.</p>
</section>


<section id="cssPreprocessor">
    <h2>CSS Preprocessor</h2>

    <p>With all the prefixed CSS3 properties and the limited capabilities of the CSS language it is wise to use
        a CSS
        processing framework in your development workflow.</p>
    <ul>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://lesscss.org/">Less</a></li>
    </ul>
</section>

<section id="cssframework">
    <h2>CSS Frameworks</h2>

    <p>To speed up your workflow and homogenize your markup and styles you can use CSS Framework.</p>
    <ul>
        <li><a href="http://twitter.github.io/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
        <li><a href="http://gumbyframework.com/" target="_blank">Gumby</a></li>
        <li><a href="http://foundation.zurb.com/" target="_blank">Fondation</a></li>
        <li><a href="http://purecss.io/" target="_blank">Purecss</a></li>
        <li><a href="http://topcoat.io/" target="_blank">Topcoat</a></li>
    </ul>
</section>

<section id="realtime">
    <h2>Real-time Library</h2>

    <p>To enable Real-time features in your app like a chat or push notification to clients</p>
    <ul>
        <li><a href="http://socket.io">Socket IO</a></li>
        <li><a href="http://pusher.com">Pusher</a></li>
    </ul>
</section>

<section id="fonts">
    <h2>Fonts</h2>

    <p>With all the prefixed CSS3 properties and the limited capabilities of the CSS language it is wise to use
        a CSS
        processing framework in your development workflow.</p>
    <ul>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://lesscss.org/">Less</a></li>
    </ul>
</section>

<section id="icons">
    <h2>Icons</h2>

    <p>With all the prefixed CSS3 properties and the limited capabilities of the CSS language it is wise to use
        a CSS
        processing framework in your development workflow.</p>
    <ul>
        <li><a href="http://compass-style.org/">Compass</a></li>
        <li><a href="http://lesscss.org/">Less</a></li>
    </ul>
</section>

<section id="datapersistence">
    <h2>Data Persistence Framework</h2>

    <p>These libraries helps with the management of the data (online/offline, track changes, rich queries)</p>
    <ul>
        <li><a href="http://breezejs.com">Breeze</a></li>
        <li><a href="http://jaydata.org">Jaydata</a></li>
    </ul>
</section>


<h3>Upcoming Frameworks</h3>

<p>These are mention to show what type of frameworks are currently in the making and popular.</p>
<section id="meteor">
    <h2>Meteor</h2>
    <a href="http://www.meteor.com/" target="_blank">http://www.meteor.com</a>

    <blockquote>Meteor is an open-source platform for building top-quality web apps in a fraction of the time, whether
        you're
        an expert developer or just getting started.
    </blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-ok"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>


</section>

<section id="derby">

    <h2>DerbyJS</h2>
    <a href="http://derbyjs.com/">http://derbyjs.com</a>

    <blockquote>MVC framework making it easy to write realtime, collaborative applications that run in both Node.js and
        browsers.
    </blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-ok"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>
</section>

<section id="famous">

    <h2>Famous</h2>
    <a href="http://famo.us/">http://famo.us</a>

    <blockquote><p>40-60fps on phones, tablets, PCs, and televisions mod a template, or piece together components no
        plug-ins, no WebGL, no Canvas works on modern browsers everything is DOM 65KB footprint</p></blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-remove"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>


</section>

<section id="polymer">

    <h2>Polymer</h2>
    <a href="http://polymer-project.org">http://polymer-project.org</a>

    <blockquote><p>Polymer is a new type of library for the web, built on top of Web Components, and designed to leverage the evolving web platform on modern browsers.</p></blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-remove"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>


</section>

</div>

</div>